.banner{
  background-color: #353D40;
}
.banner > .wrapper > h2{
  margin: 0px;
  padding-top: 150px;
  color: white;
  font-weight: lighter;
}
.banner > .wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.banner > .wrapper > img{
    padding-top: 100px;
}
main{
  background-color: #F4E9D6;
}
