.banner{
  background-color: #353D40;
}
.heading{
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}
.banner > .wrapper > .heading > h2{
  margin: 0px;
  color: white;
  font-weight: lighter;
}
.banner > .wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.banner > .wrapper > img{
    padding-top: 100px;
}
main{
  background-color: #F4E9D6;
}
