.wrapper{
  max-width: 1280px;
  margin: 0 auto;
  min-width: 520px;
}
#header{
  position: fixed;
  top:0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: height 0.5s linear 0s, padding 0.5s linear 0s;
  overflow: hidden;
  z-index: 20;
}
#header-main{
  display: flex;
  flex-wrap: wrap;
   -webkit-flex-direction:row;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid silver;
}
.logo{
  width: 30%;
}
#logo{
  width: 420px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
nav{
  width: 60%;
  text-align: right;
}
nav > ul{
  margin-top: 30px;
}
nav > ul > li{
  display: inline;
  margin: 20px;
}
nav > ul > li > a{
  font-size: 1.6em;
  color: #c8d1cd;
  text-transform: uppercase;
}
nav > ul > li > a:hover{
  text-decoration: none;
  color: #d6c035;
}
.backgoundColor{
  background-color: #353d40;
}
@media screen and (max-width: 1070px) {
	/* #menu is the original menu */
  #nav-btn{
    height: 50px;
    margin-right: 20px;
    margin-top: 14px;
    color: white;
    cursor: pointer;
  }
  #nav-btn:hover{
    color: #D8A630;
  }
  #menu{
    display: none;
  }
  #nav{
    text-align: center;
    width: 100%;
  }
  #nav > ul > li{
    display: block;
  }
  .logo{
    width: 100%;
  }
}
@media screen and (min-width: 1070px){
  #nav-btn{
    display: none;
  }
  #menu{
    display: block;
  }
}
