.form-basic {
    border: 1px dashed #ddd;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.form-basic h2 {
    margin-bottom: 50px;
}

header {
    background-color: black;
}

.form-row {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Calibri, sans-serif;
}

.question {
    margin-bottom: 20px;
}

#result-jedi {
    display:none;
}

#result-sith {
    display:none;
}

#result-rebel {
    display: none;
}

#result-drunk {
    display: none;
}

.result {
    display: inline;
    margin:auto;
    position:fixed !important;
    top: 17%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: white;
    z-index: 30;
    box-shadow: 6px 6px 6px 6px black;
    padding: 10px;
    padding-left:20px;
    font-weight: bold;
}

.result p {
    font-size: 20px;
    font-family: Calibri, sans-serif;
    display: block;
    width: 100%;
    height: 50%;
}

.result img {
    height: 70%;
    width: 99%;
    margin-bottom: 10px;
}

/*pop-up result queries*/
@media only screen and (max-width: 600px) and (max-height: 550px) {
    .result p {
        font-size: 15px;
    }

    .result img {
        height: 50%;
    }
}

@media only screen and (max-width: 450px) {
    .result p {
        font-size: 10px;
    }

    .result img {
        height: 50%;
    }

}

.result button {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 21px;
    width: 19px;
    border-radius: 90px;
    background-color: black;
    color: white;
    padding-right: 14px;
    padding-bottom: 19px;
}

.choice {
    display: block;
}

.choice input {
    display: inline-block;
    margin-top: 0px !important;
    margin-bottom: 2px !important;
}

