#nakov-vader {
margin-top: -30px;
}
#support-the-troops {
position: relative;
margin: 20px;
}
#best-employee {
position: relative;
margin-left: 400px;
margin-top: -300px;
-ms-transform: rotate(10deg); 
-webkit-transform: rotate(10deg);
transform: rotate(10deg);
}
margin-top: -30px;
}
h1 {
text-align: center; 
}
#wrapper {
    max-width: 800px;
    padding-bottom: 50px;
    margin: auto;
}
.part {
   margin: 30px 0px;
}
.desc-left {
   text-align: center; 
   max-width: 400px;
   padding: 20px;
}
.desc-right {
  position: absolute;
  margin-top: 100px;
  text-align: center; 
   max-width: 300px;
   height: 100px;
   padding: 20px;
   display: inline;
}